body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: rgb(34, 34, 34);
  width: 100%;
  max-width: 100%;
  width: 100%;
}
html {
  font-family: "NunitoSans-Regular" !important;
  max-width: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
